
<mat-stepper
  labelPosition="bottom"
  [orientation]="(stepperOrientation | async)!">
  <mat-step state="phone">
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
  </mat-step>
  <mat-step state="chat">
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
  </mat-step>
  <mat-step>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
  </mat-step>
  <mat-step>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
  </mat-step>
  <mat-step>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
  </mat-step>

</mat-stepper>
