
<mat-stepper *ngIf="tipoDeStepper=='haciendo'"
  [selectedIndex]="2"
  labelPosition="bottom"
  [orientation]="(stepperOrientation | async)!">
  <mat-step [completed]="true"
  [stepControl]="firstFormGroup" >
    <ng-template matStepperIcon="edit">
      <mat-icon>remove_red_eye</mat-icon>
    </ng-template>
    <app-info-etapa></app-info-etapa>
  </mat-step>
  <mat-step [completed]="true"
  [stepControl]="firstFormGroup"  >
    <app-info-etapa></app-info-etapa>
  </mat-step>
  <mat-step [stepControl]="firstFormGroup" >
    <app-info-etapa></app-info-etapa>
  </mat-step>
  <mat-step [stepControl]="firstFormGroup" >
    <app-info-etapa></app-info-etapa>
  </mat-step>

</mat-stepper>

<mat-stepper *ngIf="tipoDeStepper=='detalle'"
  labelPosition="bottom"
  [orientation]="(stepperOrientation | async)!">
  <mat-step
  [stepControl]="firstFormGroup" >
    <ng-template matStepperIcon="edit">
      <mat-icon>remove_red_eye</mat-icon>
    </ng-template>
    <app-info-etapa></app-info-etapa>
  </mat-step>
  <mat-step [stepControl]="firstFormGroup"  >
    <app-info-etapa></app-info-etapa>
  </mat-step>
  <mat-step [stepControl]="firstFormGroup" >
    <app-info-etapa></app-info-etapa>
  </mat-step>
  <mat-step [stepControl]="firstFormGroup" >
    <app-info-etapa></app-info-etapa>
  </mat-step>

</mat-stepper>

