<div class="search d-flex align-items-center">
    <input type="text" class="form-control" placeholder="Buscar trámite por nombre" >
    <button class="btn btn-primary buscar-btn">
        <i class="fas fa-search fa-lg"></i> 
    </button>
   
</div>

<br>
<div class="row">
    <div class="col-md-7">
        <div *ngFor="let t of tramites" class="card shadow">
            <div class="card-body">
                <h4 class="card-title">{{t.nombre}}</h4>
                <h6 class="card-title">Descripción</h6>
              <p class="card-text d-flex align-items-center">
                {{t.descripcion}}
                <span>
                    <i (click)="onModalInfo(t ,modalInfoTramite)" class="fas fa-expand-alt fa-3x"></i>
                    <h6 class="detalle">Detalle</h6>
                </span>

              </p>
            
            </div>
            
        </div> 

    </div>

    

    <div class="col-md-1">

    </div>

    <div class="col-md-3">
        <div class="card shadow-lg bg-primary">
            <div class="card-body ">
                
            
            </div>
            
        </div>
    </div>
</div>







<!-- -----------------------Modales----------------------- -->
<ng-template #modalInfoTramite>
    
        <app-modal-info-tramite
        [tramite]=this.tramiteModal
        ></app-modal-info-tramite>
    
</ng-template>