<div *ngIf="!loading" class="row">
    <div class="col-lg-1 col-md-1"></div>
    <div  class="col-md-10 col-lg-6">
        <div class="search d-flex align-items-center">
            <input type="text" class="form-control" placeholder="Buscar trámite por nombre" >
            <button class="btn btn-primary buscar-btn">
                <i class="fas fa-search fa-lg"></i> 
            </button>
           
        </div>
        

        <h4 style="margin-bottom: 10px; margin-top: 20px;">Trámites disponibles:</h4>
        

        <div *ngFor="let t of returnedTramites " class="card shadow">
            <div class="card-body content-item">
                <h4 class="card-title">{{t.nombre}}</h4>
                <h6 class="card-title">Descripción</h6>
              <p class="card-text d-flex align-items-center">
                {{t.descripcion}}
                <span>
                    <i (click)="onModalInfo(t ,modalInfoTramite)" class="fas fa-expand-alt fa-3x"></i>
                    <h6 class="detalle">Detalle</h6>
                </span>

              </p>
            
            </div>
            
        </div> 

        <pagination
        [itemsPerPage]="3"
        [totalItems]="tramites.length"
        (pageChanged)="pageChanged2($event)"
         [previousText]="'Anterior'" 
         [nextText]="'Siguiente'">
        </pagination>

    </div>

    

    <div class="col-lg-1 col-md-1">

    </div>

    <div class="col-lg-3">

               <div class="calendario" style="margin-top: 6em;">
                    <app-calendario class="shadow-lg"></app-calendario>
               </div> 
            

    </div>
</div>







<!-- -----------------------Modales----------------------- -->
<ng-template #modalInfoTramite>
    
        <app-modal-info-tramite
        [tramite]=this.tramiteModal
        [iniciarTramite]="'Iniciar trámite'"
        (closeModalEvent)="onCloseModal()"
        ></app-modal-info-tramite>
    
</ng-template>