<app-modal
[title]="'Trámite'"
[code]="tramite.nombre"
[actionSuccess]="iniciarTramite"
[actionDefault]="'Cerrar'"
(handleConfirmActionSuccess)="onCrearTramiteHaciendo()"
[nivel]="1">


    <mat-stepper
    labelPosition="bottom"
    [orientation]="(stepperOrientation | async)!">

        <mat-step *ngFor="let e of etapas"
        [stepControl]="firstFormGroup" >
        <ng-template matStepperIcon="edit">
            <mat-icon>remove_red_eye</mat-icon>
        </ng-template>

            <app-info-etapas [etapa]="e"
            ></app-info-etapas>
        
        </mat-step>


    </mat-stepper>

</app-modal>