<div class="container">
    <div class="row">
        <div class="col"></div>

        <div class="col-md-8">
            <h5>Descripción etapa {{etapa.posicion}}:</h5>
            <div class="card shadow-custom">
                <p>
                    {{etapa.descripcion}}            
                </p>
            </div>
        </div>

        <div class="col"></div>

    </div>
    <div class="row">
        <div class="col"></div>

        <div class="col-md-3">
            <h5>Lista documentos etapa {{etapa.posicion}}: </h5>
            <div class="card shadow-custom">
                <ul>
                    <li>Documento 1</li>
                    <li>Documento 2</li>
                    <li>Documento 3</li>
                </ul>
            </div>
        </div>
        <div class="col-md-5">
            <h5>Información etapa {{etapa.posicion}}:</h5>
            <div class="card shadow-custom">
                <ul>
                    <li>Tiempo estimado: 5 días hábiles</li>
                    <li>Encargado etapa: Funcionario2</li>
                    <li>Correo encargado: funcionario2@correo.com</li>
                </ul>
            </div>

        </div>

        <div class="col"></div>
    </div>
</div>