
<div class="row" style="margin-top: 5em;">
    <div class="col"></div>
    <div class="col-lg-4 col-md-6" >
        <h4 class="title">Información personal</h4>

    </div>
    <div class="col"></div>
</div>

<div class="row ">
    <div class="col"></div>
    <div class="col-lg-4 col-md-6 card shadow ">

        <div class="formControl ">

            <h6 class="label">Nombres:</h6>
            <input class="form-control" id="nombres" type="text"
            disabled value="Aaron Nicolás">

            <h6 class="label">Apellidos:</h6>
            <input class="form-control" id="apellidos" type="text"
            disabled>

            <h6 class="label">RUT:</h6>
            <input class="form-control" id="rut" type="text"
            disabled>

            <h6 class="label">Correo:</h6>
            <input class="form-control" id="correo" type="text"
            disabled>

            <h6 class="label">Teléfono móvil:</h6>
            <input class="form-control" id="telefono" type="text"
            disabled>


        </div>


    </div>
    <div class="col"></div>
</div>
