.modal-body {
    border-top: 2px solid #0D6EFD;
    border-bottom: 2px solid #0D6EFD;

}

.modal-title{
    text-align: center;
}

.btn-iniciar{
    margin-left: 10px;
    font-size: 16px;
    
    min-width: 130px !important;
}

.btn-aceptar{
    margin-left: 10px;
    font-size: 16px;
    
    min-width: 150px !important;
}
.btn-rechazar{
    margin-left: 10px;
    font-size: 16px;
    color: white;
    min-width: 160px !important;
}
.btn-cancelar{
    margin-left: 10px;
    font-size: 16px;
    color: white;
    min-width: 170px !important;
}


.btn-cerrar{
    margin-left: 10px;
    font-size: 16px;
    
}

.btns-confirm{

    margin-left: 10px;
    font-size: 16px;
    color: white;
    min-width: 100px !important;

}