<div class="modal-header" [class]="customClass">
    <h4 class="modal-title">
      <strong *ngIf="title">{{ title }}: </strong> 
      <!--N° orden de compra-->
      <strong class="code"*ngIf="code">{{code}}</strong>

  
    </h4>
    <div
      class="close cursor__pointer push-right font-weight-bold"
      aria-label="Close"
      (click)="onCloseModal()"
    >
      <i class="fas fa-times"></i>
    </div>
  </div>
  
  <div class="modal-body no-padding width">
    <ng-content></ng-content>
  </div>
  
  <div class="modal-footer">
    <div class="row">
      <div class="col left">
        <!--Boton de imprimir-->

      </div>
  
      <div class="col center">

        
      </div>
      <div class="col right d-flex">

  
        <!--Boton cerrar-->
        <button
          *ngIf="actionDefault"
          type="button"
          class="btn btn-secondary btn-cerrar"
          data-dismiss="modal"
          (click)="onCloseModal()"
        >
          {{ actionDefault }}
        </button>
  
        <!--Boton de de confirmación-->
        <button
          *ngIf="actionSuccess"
          type="button"
          class="btn btn-primary btn-iniciar"
         
          [disabled]="activeLoading"
          (click)="onConfirmActionSuccess()"
        >

           {{ actionSuccess }}
          
        </button>

        <!--Boton cancelar tramite-->
        <button
          *ngIf="actionCancelarTramite"
          type="button"
          class="btn btn-danger btn-cancelar"
          
          [disabled]="activeLoading"
          (click)="onCancelAction()"
        >

            {{ actionCancelarTramite }}
            <i class="far fa-trash-alt"></i>       
        </button>

        <!--Boton rechazar etapa-->
        <button
          *ngIf="actionRechazarEtapa"
          type="button"
          class="btn btn-warning btn-rechazar"
          
          [disabled]="activeLoading"
          (click)="onRejectAction()"
        >

            {{ actionRechazarEtapa }}
            <i class="fas fa-ban"></i>        
        </button>

        <!--Boton avisar ciudadano-->
        <button
          *ngIf="actionAvisarCiudadano"
          type="button"
          class="btn btn-info btn-rechazar"
          
          [disabled]="activeLoading"
          (click)="onSendAction()"
        >

            {{ actionAvisarCiudadano }}
            <i class="far fa-envelope"></i>        
        </button>



        <!--Boton confirmar etapa-->
        <button
        *ngIf="actionAceptarEtapa"
        type="button"
        class="btn btn-primary btn-aceptar"
        
        [disabled]="activeLoading"
        (click)="onConfirmActionSuccess()"
      >

          {{ actionAceptarEtapa }}
          <i class="far fa-check-circle"></i>        
        </button>


<!-- --------------------Botones confirmacion-------------------------         -->
        <!--Boton cancelar-->
        <button
        *ngIf="actionDeny"
        type="button"
        class="btn btn-primary btns-confirm"
        
        [disabled]="activeLoading"
        (click)="onCloseModal()"
      >

          {{ actionDeny }}
                
        </button>

        <!--Boton confirmar-->
        <button
        *ngIf="actionConfirm"
        type="button"
        class="btn btn-danger btns-confirm"
        
        [disabled]="activeLoading"
        (click)="onConfirmAction()"
      >

          {{ actionConfirm }}
               
        </button>



      </div>
    </div>
  </div>
  