<app-modal
[title]="'Trámite'"
[code]="tramiteHaciendo.nombre"
[actionCancelarTramite]="'Dejar Trámite'"
[nivel]="1">

    <h5>Etapa actual: {{etapaActual}}</h5>
    <mat-stepper
    [selectedIndex]="etapaActual-1"
    labelPosition="bottom"
    [orientation]="(stepperOrientation | async)!">
    <ng-template matStepperIcon="edit">
        <mat-icon>done</mat-icon>
    </ng-template>

    <div *ngFor="let e of etapas">

        <div *ngIf="e.posicion<etapaActual">
            <mat-step [completed]="true" >
                
                <app-info-etapas [etapa]="e"
                ></app-info-etapas>
            
            </mat-step>
        </div>
        <div *ngIf="e.posicion>=etapaActual">
            <mat-step [completed]="false" >

                <app-info-etapas [etapa]="e"
                ></app-info-etapas>
            
            </mat-step>
        </div>

    </div>

    </mat-stepper>


</app-modal>