<mat-stepper
[selectedIndex]="2"
labelPosition="bottom"
[orientation]="(stepperOrientation | async)!">
<mat-step [completed]="true"
[stepControl]="firstFormGroup" >
<ng-template matStepperIcon="edit">
    <mat-icon>done</mat-icon>
</ng-template>
<app-info-etapa></app-info-etapa>
</mat-step>
<mat-step [completed]="true"
[stepControl]="firstFormGroup"  >
<app-info-etapa></app-info-etapa>
</mat-step>
<mat-step [stepControl]="firstFormGroup" >
<app-info-etapa></app-info-etapa>
</mat-step>
<mat-step [stepControl]="firstFormGroup" >
<app-info-etapa></app-info-etapa>
</mat-step>

</mat-stepper>