.search{
    width: 50%;
}

.buscar-btn{
    margin-left: 8px;
    padding-right: 15px;
}

i:hover{
    cursor: pointer;
    color: rgb(66, 66, 66);
      
}

.detalle{
    font-weight:600;
    text-align: center;
}

.card{
    margin-bottom: 20px;
}

span{
    margin-left: 10px;
}

@media (max-width: 992px) {
    .search{
        width: 80%;
    }
}

.fa-search{
    margin-left: 5px;
}

.fa-expand-alt{
    margin: -30px 10px 10px 10px;
}

.fa-calendar-check{
    margin: -30px 10px 10px 30px;
}

@media (max-width: 991px) {

    .calendario{
        display: none;
    }
}