<!-- <div class="search d-flex align-items-center">
    <input type="text" class="form-control" placeholder="Buscar trámite por nombre" >
    <button class="btn btn-primary buscar-btn">
        <i class="fas fa-search fa-lg"></i> 
    </button>
   
</div> -->
<h4 style="margin-bottom: 15px;">Tus trámites en proceso:</h4>
<div *ngIf="!loading" class="row">
    <div class="col-md-7">
        <div *ngIf="tramiteHaciendo.length==0">
            <h6>No posee trámites en proceso, ver trámites disponibles <a routerLink="/">aquí <i class="fas fa-hand-point-up"></i></a> </h6>
                
        </div>

        <div *ngFor="let t of tramiteHaciendo" class="card shadow">
            <div class="card-body">
                <h4 class="card-title">{{t.nombre}} </h4>
                <h6 class="card-title">Descripción</h6>
              <p class="card-text d-flex align-items-center">
                {{t.descripcion}} 
                <span>
                    <i (click)="onModalInfo(t, modalInfoTramite)" class="fas fa-expand-alt fa-3x"></i>
                    <h6 class="detalle">Revisar</h6>
                </span>

              </p>
            
            </div>
            
        </div>
          
    </div>

    

    <div class="col-md-1">

    </div>

    <div class="col-md-3">

        <div class="calendario">
            <app-calendario class="shadow-lg"></app-calendario>

        </div>
    

    </div>
</div>







<!-- -----------------------Modales----------------------- -->
<ng-template #modalInfoTramite>
    
        <app-modal-tramite-haciendo
        [tramiteHaciendo]="this.tramiteModal"
        (closeModalEvent)="onCloseModal()"
        ></app-modal-tramite-haciendo>
    
</ng-template>