
<div class="fondo">
  <app-nav-bar-funcionario *ngIf="rol=='FUNCIONARIO'"></app-nav-bar-funcionario>

  <app-nav-bar-admin *ngIf="rol=='ADMIN'"></app-nav-bar-admin>
  
  <app-nav-bar-ciudadano *ngIf="rol=='CIUDADANO'"></app-nav-bar-ciudadano>
  
  
  <body>
    <div *ngIf="rol==''" class="row">
      <div style="background-color: #0D6EFD; height:20px;" class="col"></div>
    </div>
    <div class="opciones" *ngIf="rol==''">

      <div class="row">
        <div class="col"></div>
        <div class="col">
          <a (click)="rol='CIUDADANO'" class="btn btn-primary opcion" routerLink="/tramites">
            Ciudadano
          </a>
        </div>
        <div class="col">
          <a (click)="rol='FUNCIONARIO'" class="btn btn-primary opcion" routerLink="/pendientes-revision">
            Funcionario
          </a>
        </div>
        <div class="col">
          <a (click)="rol='ADMIN'" class="btn btn-primary opcion" routerLink="/gestionar-tramites">
            Administrador
          </a>
        </div>

        <div class="col"></div>
      </div>
    </div>
    <router-outlet *ngIf="rol!=''" class="router"></router-outlet>
  </body>
</div>


