<div *ngIf="paso==1">

    <app-crear-desc-tramite
    (formValidEvent)="siguientePaso=$event"
    (crearTramiteFormEvent)="setearCrearTramiteForm($event)"
    
    ></app-crear-desc-tramite>

</div>

<div *ngIf="paso==2">

    <app-crear-etapa
    (formValidEvent)="etapaFormValida=$event"
    (crearEtapaFormEvent)="setearcrearEtapaForm($event)"
    (docsEvent)="setearDocumentos($event)"
    ></app-crear-etapa>

</div>

<div class="row ">
    <div class="col"></div>
    <div class="col-lg-6 col-md-8">



        <button [disabled]="!etapaFormValida" *ngIf="paso==2" class="btn btn-primary btn-derecha"> Agregar etapa <i class="fas fa-plus"></i> </button>

        <button [disabled]="!etapaFormValida" *ngIf="paso==2" class="btn btn-success btn-derecha"> Finalizar creación <i class="fas fa-save"></i> </button>

        

        <button [disabled]="!siguientePaso" (click)="onSiguientePaso()" *ngIf="paso==1" class="btn btn-primary btn-derecha"> Siguente paso <i class="fas fa-arrow-right"></i> </button>
        
        <button (click)="onVolverPaso()" *ngIf="paso==2" class="btn btn-primary btn-izquierda"> <i class="fas fa-arrow-left"></i> Volver</button>


    </div>
    <div class="col"></div>
</div>