.title{
    margin-bottom: 20px;
}

.col-lg-6{
    margin: auto;
    padding: 5px 15px 20px 15px;
    
}

.col-md-8{
    margin: auto;
    padding: 5px 15px 20px 15px;
    
}

.label{
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: left;
}
.card{
    border: 2px solid rgb(99, 99, 99);

}
