<h3 class="title">Paso 1: Información general del trámite</h3>

<div class="row ">
    <div class="col"></div>
    <div class="col-lg-6 col-md-8 card shadow">
        <div class="formControl">
            <h5 class="label">Nombre del trámite:</h5>
            <input class="form-control" id="nombreTramite" type="text"
            placeholder="Ingresa el nombre del trámite">

            <h5 class="label">Descripción:</h5>
            <textarea class="form-control" id="descripcionTramite" cols="30" rows="4"
            placeholder="Ingresa una descripción general del trámite"></textarea>
        </div>

    </div>
    <div class="col"></div>
</div>
