<h3 class="title">Bienvenido, ingresa tus datos para inciar sesión.</h3>

<div class="row ">
    <div class="col"></div>
    <div class="col-lg-4 col-md-6 card shadow ">

    <form [formGroup]="loginForm">
        <div class="formControl ">

            <h5 class="label">Correo:</h5>
            <input formControlName="email_user" class="form-control" id="correo" type="text"
            placeholder="Ingresa tu correo">
            <h5 class="label">Contraseña:</h5>
            <input formControlName="password" class="form-control" id="rut" type="password"
            [type]=" mostrarPsw ? 'text' : 'password'"
            placeholder="Ingresa tu contraseña">

            <div class="form-check d-flex justify-content-center" style="margin-top: 10px;">
                <input (click)="onMostrarPsw()" class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault" style="margin-left: 5px !important;">
                  Mostrar contraseña
                </label>
              </div>


        </div>
    </form>    

        <div class="d-flex justify-content-center">
            <button [disabled]="loginForm.invalid" (click)="onLogin()" style="margin-top: 15px; max-width: 200px !important;" class="btn btn-primary">
                Iniciar sesión <i class="fas fa-sign-in-alt"></i>
            </button>
        </div>


    </div>
    <div class="col"></div>
</div>

