<app-modal
[title]="'Gestionar solicitud'"
[code]="solicitud.id_ciudadano_tramite.toString()"
[actionAceptarEtapa]="aceptar"
[actionFinalizarTramite]="finalizar"
[actionRechazarEtapa]="'Rechazar Etapa'"
[actionAvisarCiudadano]="'Enviar aviso'"
[actionCancelarTramite]="'Cancelar Trámite'"
(handleConfirmActionSuccess)="onAceptarEtapa()"
(handleFinalizarAction)="onFinalizarTramite()"
(handleCancelAction)="onModalConfirmarCancelar(modalConfirmarCancelar)"
(handleSendAction)="onAvisarCiudadano()"
(handleRejectAction)="onRechazarEtapa()"
[nivel]="1">
    <div class="content">
        <div *ngIf="!loading" class="row">
            <div class="col-xl-6 col-lg-6">
                <p style="margin-bottom: -10px;">
                   <strong>Etapa: </strong>{{infoEtapaActual.nombre}}
                </p> <br>
                <p style="margin-top: 0px; margin-bottom: -10px;">
                    <strong>Inicio Etapa: </strong>{{solicitud.fecha_etapa_actual}}
                </p> <br>
                <p style="margin-top: 0px; margin-bottom: -10px;">
                    <strong>Ciudadano: </strong>{{ciudadano.nombre}} {{ciudadano.apellidos}}
                </p> <br>
                <p style="margin-top: 0px;">
                    <strong>Rut: </strong>{{ciudadano.rut_ciudadano}}
                </p>
                
            
            </div>
            <div class="col-xl-6 col-lg-6">
                <p style="margin-bottom: 5px;"><strong >Documentos:</strong></p>
                <p *ngIf="documentos.length==0">Sin documentos a presentar</p>
                <ul>
                    <li *ngFor="let d of documentos"> <input class="form-check-input" type="checkbox"> {{d.nombre}}</li>
    
                </ul>
            </div>
        </div>
    
        <div *ngIf="!loading" class="row">
            <div  class="col-xl-12">
                <p style="margin-bottom: 7px;"> <strong >Comentario:</strong> </p>
                <textarea [(ngModel)]="comentario" class="form-control" id="" cols="30" rows="4" placeholder="Escribe un comentario respecto a la Etapa"></textarea>
            </div>

        </div>

        <div *ngIf="loading">
            <div class="lds-dual-ring"></div>
        </div>

    </div>

    

</app-modal>

<ng-template #modalConfirmarCancelar>
    
    <app-modal style="box-shadow: 0px 0px 81px 56px rgba(0,0,0,0.25);"
    [actionConfirm]="'Sí, cancelar'"
    [actionDeny]="'No'"
    (handleConfirmAction)="onCancelarTramite()"
    [nivel]="2">
    
        <p>¿Esta seguro que desea cancelar el Trámite?</p>
    
    
    </app-modal>

</ng-template>