<div class="search w-25 d-flex align-items-center">
    <input type="text" class="form-control" placeholder="Buscar trámite por nombre" >
    <i class="fas fa-search fa-lg"></i>
</div>

<br>
<div class="row">
    <div class="col-md-7">
        <div class="card shadow">
            <div class="card-body">
                <h4 class="card-title">Trámite 1</h4>
                <h6 class="card-title">Descripción</h6>
              <p class="card-text d-flex align-items-center">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                <i class="fas fa-expand-alt fa-3x"></i>
              </p>
            
            </div>
            
        </div>
          
    </div>

    <div class="col-md-1">

    </div>

    <div class="col-md-3">
        <div class="card shadow-lg">
            <div class="card-body">
                <h3 class="card-title">Ver trámites</h3>
                <h5 class="card-title">Pendientes de revisión
                    <i class="far fa-calendar-check fa-3x"></i>
                </h5>
            
            </div>
            
        </div>
    </div>
</div>