.title{
    margin-bottom: 20px;
}

.col-lg-6{
    margin: auto;
    padding: 5px 15px 20px 15px;
    
}

.col-md-8{
    margin: auto;
    padding: 5px 15px 20px 15px;
    
}

.label{
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: left;
}
.card{
    border: 2px solid rgb(99, 99, 99);
    padding: 0px 40px 20px 40px;

}
h6{
    margin-bottom: 2px !important;
}

input.ng-invalid.ng-touched{
    border: 2px solid #DC3545;
}
input.ng-valid{
    border: 2px solid #28A745;
}