/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';

.modal-xl{
    margin-top: 4rem !important;
}

.modal-md{
    margin-top: 8rem !important;
}
.shadow-custom{
    box-shadow: 0px 4px 5px 1px rgba(0,0,0,0.16);;
}

.title{
    text-align: center;
}

.custom-label{
    font-size: 18px;
    font-weight: bold;
}

